@import url(https://fonts.googleapis.com/css?family=Roboto:300&subset=latin,latin-ext);
body
{
    font-family: Roboto, sanf-serif !important;
    background: url('https://static.pexels.com/photos/9574/pexels-photo.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    color: white;
}

.btn .btn-primary
{
    border-radius: 0px !important;
    border: 0px !important;
}
div.well{
    height: 250px;
} 

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 100%; 
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

#logo-container{
    height: 120px;
    background: #3c8dbc;
}
img{
    margin: auto;
    padding-top:10px;
    width:200px;
    height:auto;
}

.white-text
{
    color: #FFF !important;
}

.alert-error {
    color: #fff;
    background-color: #c00;
    border-color: #a00;
}

.white-container
{
    background: #FFF;
    box-shadow: 4px 4px 2px #000;
}

.form-container
{
    padding:40px;
}