@import url(https://fonts.googleapis.com/css?family=Roboto:300&subset=latin,latin-ext);
body
{
    font-family: Roboto, sanf-serif !important;
    background: url('https://static.pexels.com/photos/9574/pexels-photo.jpeg'), rgba(255,255,255, 0.4) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed, fixed !important;
    background-position: center, center !important;
    background-size: 100% 100%, 100% 100% !important;
}
.custom_background .wrapper, .custom_background .main-sidebar, .custom_background .left-side {
    background-color: rgba(0,0,0,0) !important;
}

.content-wrapper, .right-side {
    background-color: rgba(0,0,0,0) !important;
}

#main_sidebar
{
    background: #000;
}
.spacer {
    margin-top: 20px; /* define margin as you see fit */
}

td
{
    white-space: nowrap !important;
    vertical-align: middle !important;
}

.alert-error {
    color: #3c763d;
    background-color: #c00;
    border-color: #a00;
}
#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    width:100%;
    background: url('https://static.pexels.com/photos/9574/pexels-photo.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 9999;
}


#splashscreen img{
    width: 200px;
    height: 200px;
}

#splashscreen {
    height: 100%;
    display: table;
    margin: 0 auto;
    padding-top: 150px;
}

.welcome_message
{
    color: #FFF;
    font-size: 50px;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 100%; 
    height: 30%;
    min-width: 100%;
    max-width: 400px;
    padding: 40px;
}

#logo-container{
    margin: auto;
    margin-bottom: 10px;
    width:200px;
    height:auto;
}
.user-image
{
    border-radius: 50% !important;
    border-color: rgba(255,255,255,1) !important;
}

.long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.panel
{
    margin-left: -5px !important;
    margin-right: -5px !important;
    margin-top: 0px !important;
    border-radius: 0px !important;
    border: 0px !important;
}

.btn-primary
{
    border-radius: 0px !important;
    border: 0px !important;
}

.panel-heading
{
    border-radius: 0px !important;
    border: 0px !important;
}
.message-container
{
    position:fixed;
    bottom:0px;
    right:0px;
    margin: 0 !important;
    padding: 0px !important;
}

.long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

#invoice_modal .modal-dialog{
    width: 70% !important;
}

.collapsing_custom
{
    color: #000 !important;
}
.scrollable_tr {
    width: 100%;
    display: inline-table;
}

.scrollable_table{
    height:300px;
}
.scrollable_body{
    overflow-y: scroll;
    height: 200px;
    width: 100%;
    position: absolute;
}

#message_box{
    margin-bottom: 0px !important;
}

.treeview-menu > li > a {
    width: 200px;
    white-space: pre;
}