body {
    font-family: DejaVu Sans, sans-serif;
    font-size: 80%;
}
#invoice_date {
    padding-left: 50%;
}
#seller {
    width: 350px;
}
#details {
    padding-top: 40px;
    padding-bottom: 40px;
}
.cell {
    width: 168px;
}
.row {
    height: 100px;
}
#payment {
    padding-top: 20px;
}
.tab {
    border: 1px solid grey;
}
.tab2 {
    border: 1px solid lightgrey;
}