<div class="panel panel-primary" ng-controller="dashboardCtrl">
<div class="panel-heading">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-default pull-left" ng-click="$previousStep()">Wstecz</button>
            </div>
            <div class="col-md-4">Dodawanie produktu: Krok 3/3</div>
            <div class="col-md-4">
                <button class="btn btn-default pull-right" ng-click="" OnClick="alert('ejjj jeszcze nie!');">Zapisz</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        dupa
    </div>
</div>